@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #252525;
}

/* headings and logo */

h1,
h2 {
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    color: #6a2383;
}

#kids-logo {
    float: left;
    font-size: 290%;
    margin-left: 25px;
}

/* navigation */

#nav-menu {
    font-family: Quicksand, sans-serif;
    font-size: 120%;
    float: right;
}

#nav-menu,
#kids-logo {
    line-height: 98px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 32px;
    float: left;
}

#nav-menu a {
    text-decoration: none;
    color: #6a2383;
}

#nav-menu a:hover {
    background-color: rgb(252, 252, 164);
    color: #0086c1;
}

.active {
    background-color: rgb(252, 252, 164);
}

/* main image and text */

#main-section {
    height: 33%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#main-image {
    height: 590px;
    width: 100%;
    background: url('../images/kids_main_image.jpg') no-repeat;
    clear: both;
}

#main-heading {
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 220%;
    text-align: center;
    background-color: #dceef1;
    line-height: 100px;
}

#main-about {
    margin-left: 20%;
    width: 40%;
}

#main-about p {
    font-size: 120%;
    line-height: 135%;
    margin: 18px 0;
}

#main-subhead {
    font-size: 190%;
    border-bottom: #72c5ce 4px dotted;
    width: fit-content;
}

#main-subhead i {
    color: #72c5ce;
    margin-bottom: 10px;
}

#center-heading {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

#kids-icon {
    background: url('../images/center-icon-kids.gif') no-repeat center center;
    height: 178px;
    width: 356px;
    margin: 20px 60px 70px;
}

/* bookclub locations and times */

#locations-sections {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    text-align: center;
}

#locations-sections h2 {
    color: #fff;
    margin: 10px 0 5px;
}

.location-container {
    padding: 3rem 0;
    display: inline-flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-evenly;
    gap: 5px;
}

.location {
    display: flex;
    flex-direction: column;
    background-color: #6a2383;
    width: 300px;
    height: 130px;
}

/* footer */

#footer-container {
    background-color: #f8f3f1;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#social-networks {
    display: flex;
}

#social-networks li a i {
    color: #6a2383;
}

#social-networks>li {
    display: inline;
    font-size: 160%;
    margin: 20px;
    padding: 1%;
}

/* image gallery */

.gallery-container {
    display: inline-flex;
    flex-wrap: wrap;
    clear: both;
    gap: 10px;
    margin-left: 10px;
    justify-content: center;
}


/* Form Section */

.form-section {
    background: url('../images/young-smiley-girl-portrait-pointing.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 800px;
    clear: both;
    margin-bottom: 20px;
}

.signup-form {
    font-family: Quicksand, sans-serif;
    margin: 100px 10% 0 0;
    color: #6a2383;
    background-color: rgba(207, 232, 236, 0.8);
    max-width: 450px;
    position: absolute;
    left: 8%;
    padding: 20px;
    border-radius: 20px;
}

.signup-form h2 {
    margin-bottom: 15px;
}

.text-input {
    background-color: #fff;
    width: 100%;
    height: 35px;
    margin: 10px 0 18px;
    border-radius: 7px;
}

.signup-button {
    font-family: Quicksand, sans-serif;
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 110%;
    background-color: #6a2383;
    color: #72c5ce;
    float: right;
    border-radius: 8px;
}

.signup-button:hover {
    background-color: rgb(252, 252, 164);
    color: #6a2383;
}

/* Form Section - Contact and Map area Flexbox */

#contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 4%;
}

#contact-info {
    flex: 20%;
    text-align: center;
}

#contact-info h2 {
    font-size: 110%;
    margin-bottom: 4px;
}

#map {
    flex: 46%;
    margin: 5px 60px 5px 0;
}

#map-iframe {
    height: 300px;
    width: 100%;
}

#youtube-iframe {
    height: 168px;
    width: 300px;

}

#youtube-story {
    flex: 33%;
    margin-left: 20px;
}

/* Media queries */

/* For mobile screen sizes from 480px wide and down */
@media screen and (max-width: 480px) {

    .form-section {
        background: url('../images/young-smiley-girl-portrait-pointing-small.jpg') no-repeat center center;
        height: 630px;
        width: auto;
        background-position: left;
    }

    .signup-form {
        margin-top: 50px;
    }

    #nav-menu,
    #kids-logo {
        line-height: 70px;
    }

    #kids-logo {
        font-size: 230%;
    }

    #main-heading {
        font-size: 150%;
        line-height: 80px;
        margin-bottom: 30px;
    }

    #kids-icon {
        margin: 20px auto;
    }

    .gallery-image {
        width: 108%;
    }

    #main-subhead {
        font-size: 160%;
        border-bottom: #72c5ce 3px dotted;
    }

    #main-subhead i {
        margin-bottom: 5px;
    }

}

/* For tablet size screens from 768px wide and down */
@media screen and (max-width: 768px) {

    .location {
        width: 95%;
    }

    #main-image {
        background: url('../images/kids_main_image_small.jpg') no-repeat right;
        height: 300px;
    }

    #kids-icon {
        margin-left: 4%;
    }

    #center-heading {
        justify-content: left;
    }

    #main-about {
        text-align: left;
        width: 90%;
        margin-left: 15px;
    }

    /* For smaller screens and laptops from 1140px wide and down */
    @media screen and (max-width: 1140px) and (min-width: 769px) {

        #kids-icon {
            width: 80%;
            margin: 20px auto 0;
        }

        #main-about {
            width: 80%;
            margin: auto;
            text-align: center;
        }

        #center-heading {
            justify-content: center;
        }

    }

        /* For smaller screens and laptops from 1170px wide and down */
        @media screen and (max-width: 1170px) {

            #contact-container {
                flex-direction: column;
            }

            #map {
                margin: 40px 0;
            }