@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #252525;
}

/* headings and logo */

h1,
h2 {
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    color: #6a2383;
}

#kids-logo {
    float: left;
    font-size: 290%;
    margin-left: 25px;
}

/* navigation */

#nav-menu {
    font-family: Quicksand, sans-serif;
    font-size: 120%;
    float: right;
}

#nav-menu,
#kids-logo {
    line-height: 75px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    float: left;
}

#nav-menu a {
    text-decoration: none;
    color: #6a2383;
}

#nav-menu a:hover {
    background-color: rgb(252, 252, 164);
}

.active {
    background-color: rgb(252, 252, 164);
}

/* main image and text */

#main-section {
    height: 33%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/kids_main_image.jpg') no-repeat;
    clear: both;
}

#main-heading {
    text-transform: uppercase;
    margin: 25px 3%;
    font-size: 220%;
    text-align: center;
}

#main-about {
    padding-top: 25px;
    margin-left: 25%;
    width: 33%;
}

#main-about p {
    font-size: 120%;
}

hr {
    border-top: dotted 3px;
    width: 300px;
    border-color: #72c5ce;
    margin: 10px 0;
}

#kids-icon {
    padding-top: 25px;
    background: url('../images/center-icon-kids.gif') no-repeat center center;
    height: 178px;
    width: 356px;
    margin-left: 5%;
}

/* bookclub locations and times */

#locations-sections {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    text-align: center;
}

#locations-sections h2 {
    color: #fff;
}

.location-container {
    padding: 5rem 0;
    display: inline-flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-evenly;
    gap: 5px;

}

.location {
    display: flex;
    flex-direction: column;
    background-color: #6a2383;
    width: 300px;
    height: 130px;
}

/* footer */

.social-networks {
    color: #6a2383;
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
}

/* image gallery grid */

.gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    clear: both;
    justify-items: center;
    width: 90vw;
    margin: 0 auto; 
}

.gallery-images {
    width: 100%
}

/* Form Section */

.form-section {
    background: url('../images/young-smiley-girl-portrait-pointing.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 800px;
    clear: both;
}

.signup-form {
    font-family: Quicksand, sans-serif;
    margin: 100px 10% 0 0;
    color: #6a2383;
    background-color: rgba(207, 232, 236, 0.8);
    max-width: 450px;
    position: absolute;
    left: 8%;
    padding: 20px;
    border-radius: 20px;
}

.signup-form h2 {
    margin-bottom: 15px;
}

.text-input {
    background-color: #fff;
    width: 100%;
    height: 35px;
    margin: 10px 0 18px;
    border-radius: 7px;
}

.signup-button {
    font-family: Quicksand, sans-serif;
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 110%;
    background-color: #6a2383;
    color: #72c5ce;
    float: right;
    border-radius: 10px;
}

.signup-button:hover {
    background-color: rgb(252, 252, 164);
    color: #6a2383;
}

/* Media queries */

/* For mobile screen sizes from 480px wide and down */
@media screen and (max-width: 480px) {

    .form-section {
        background: url('../images/young-smiley-girl-portrait-pointing-small.jpg') no-repeat center center;
        height: 700px;
        width: auto;
    }

}

/* For tablet size screens from 768px wide and down */
@media screen and (max-width: 768px) {

    .location {
        width: 95%;
    }

    #main-image {
        background: url('../images/kids_main_image_small.jpg') no-repeat center center;
        height: 300px;
    }


}

/* For smaller screens and laptops from 1024px wide and down */
@media screen and (max-width: 1024px) {

    #main-about {
        padding-top: 15px;
        margin-left: 5%;
        width: 80%;
        font-size: 110%;
    }

}